*{
margin: 0px;
padding:0px;
}

body {
   font-family: 'Unbounded', cursive;
   background-color: #FFAD4C;
}

/* Nav Bar */

#navbar {
margin: 0px;
padding: 2rem;
background-color:#D23944;
}

.nav-link {
color: #EBDDDD;
}

/* Main Logo */
#mainLogo {
    margin: 0rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    }


/* Picture Carousel */
/* fix carousel so not so clunky and images same side and accross screen- find fade thing video */

#img-car {
    margin: 0; 
    padding: 4rem;
    background-color:#9DB60F;
    display: flex;
    justify-content: center;
 }

.carousel-item {
    max-width: 30rem;
   max-height: 50rem;
}

.img {
    border-radius: 20px;
}


/* Info Boxes */
.info-container {
    display: flex;
    justify-content: center;
    color: #EBDDDD;
}
.InfoBox {
    margin: 1.5rem;
    padding: 2rem;
    background-color: #D23944;
    text-size-adjust: 4rem;
    border-radius: 20px;
}
/* History */
/* Opening Hours */
/* Booking */

/* Footer */